<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLRIGHT24</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="home"><a href="/">ALLRIGHT24</a></header>
    <nav>
      <ul>
        <li class="home"><a href="#">나에게 맞는 운동은?</a></li>
        <li><a href="#">자세 궁금해요!</a></li>
        <li><a href="/OWunWan">오운완</a></li>
        <li><a href="#"></a>식단 계산기</li>

        <li><a href="/quiz">나의 운동 지식은?</a></li>
      </ul>
    </nav>

    <article id="owunwan-article">
      <div class="list-box">
        <% for( let i = 0; i < result.length; i++ ) { %>

        <div class="list">
          <div class="list_content">
            <a href="/OWunWan/detail/<%= result[i]._id %>">
              <h4><%= result[i].title %></h4>
              <p><%= result[i].content %></p>
            </a>
          </div>
          <div class="list_btn">
            <a href="/OWunWan_edit/<%= result[i]._id %>"> ✏️ 수정하기</a><br />
            <span class="delete_btn" data-id="<%= result[i]._id %>">🗑️ 삭제하기</span>
          </div>
        </div>

        <% } %>
      </div>
      <a href="/OWunWanWrite">💪오운완 등록하기😅</a>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      document.querySelectorAll(".delete_btn").forEach((button) => {
        button.addEventListener("click", (e) => {
          Swal.fire({
            title: "게시글을 삭제하시겠습니까?",
            // text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "삭제하기",
            cancelButtonText: "취소",
          }).then((result) => {
            if (result.isConfirmed) {
              //삭제하기 누르면
              fetch("/OWunWan_delete/" + e.target.dataset.id, {
                method: "DELETE",
              });
              location.reload();
            }
          });
        });
      });
    </script>
  </body>
</html>
