<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLRIGHT24</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <article id="owunwan-detail-article">
      작성자: <%= result.username %>
      <br />
      작성일: <% const dbDate = new Date(result.date); const localDate = new Date(dbDate.getTime() ); const
      formattedDate = localDate.toLocaleString('ko-KR', { timeZone: 'Asia/Seoul', year: 'numeric', month: 'numeric',
      day: 'numeric', hour: 'numeric', minute: 'numeric', }); %> <%= formattedDate %>
      <br /><br />
      <div style="font-size: 2vw">제목: <%= result.title %></div>
      <hr />
      <% if (result.imgUrl) { %> <% for( let i = 0; i < result.imgUrl.length; i++ ) { %>
      <img width="25%" src="<%= result.imgUrl[i] %>" />
      <% } %> <% } %>
      <p style="font-size: 1.5vw"><%= result.content %></p>
    </article>
  </body>
</html>
